<a href="https://colab.research.google.com/github/dmsgustn1938/capstone/blob/main/R_%ED%81%AC%EB%A1%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
library(rvest)
library(dplyr)

In [ ]:
yearinput <- readline('년 : ')
monthinput <- readline('월 : ')

url <- NULL
 for(x in 0:1){ #399까지
 url[x+1] <- paste0('https://search.naver.com/search.naver?where=news&sm=tab_jum&query=수소차&ds=' , year , '.0' , month, '.01&de=' , year , '.0' , month + 1 , '.01&news_office_checked=&nso=so%3Ar%2Cp%3Afrom' , year, '0', month, '01to', year , '0', month + 1, '01&a:all&start=', x*10+1)
 }

In [ ]:
url

In [ ]:
wer <- 'wow'
er <- 'qwr'
qrt <- 200
q = paste0(wer,er,'asd',qrt) 
q

뉴스 링크

In [ ]:
total.link <- NULL

i1 <- 1
i2 <- 1

while(i1 <= length(url)){
    html <- read_html(url[i1])
    link <- html %>% html_nodes('a') %>% html_attr('href')
    link1 <- unique(link)
    link2 <- link1[grep("https://news.naver.com", link1)]
    baselink <- link2[-grep("factcheck", link2)]
        while(i2 <= length(baselink)){
            total.link <- append(total.link, baselink[i2])
            i2 <- i2 + 1
        }      
    i1 <- i1 + 1
    i2 <- 1
}

In [ ]:
last.link <-unique(total.link)
length(last.link)

제목, 날짜, 본문

In [ ]:
total.title <- NULL
total.date <- NULL
total.article <- NULL

i3 <- 1

while(i3 <= length(last.link)) {
    url_new <- last.link[i3]
    base <- read_html(url_new)
    #제목
    title <- base %>% html_nodes('#articleTitle') %>% html_text()
    total.title <- append(total.title, title)

    #날짜
    date <- base %>% html_nodes('.t11') %>% html_text()
    total.date <- append(total.date, date[1])
    
    #본문
    article <- base %>% html_nodes('#articleBodyContents') %>% html_text()
    article1 <- gsub("\n","", article)
    article2 <- gsub("\t","", article1)
    article3 <- gsub("// flash 오류를 우회하기 위한 함수 추가function _flash_removeCallback()","", article2)
    article4 <- gsub("[()]", "", article3)
    article5 <- gsub("[{}]", "", article4)
    total.article <- append(total.article, article5)
    
    i3 <- i3 + 1
}

In [ ]:
length(total.title)

In [ ]:
length(total.date)

In [ ]:
length(total.article)

In [ ]:
df <- data.frame("제목" = total.title, "날짜" = total.date, "본문" = total.article)

In [ ]:
df

In [ ]:
write.csv(df,file = "news.csv")