<a href="https://colab.research.google.com/github/dmsgustn1938/k-medoids/blob/main/R_%ED%81%AC%EB%A1%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
library(rvest)
library(dplyr)

In [ ]:
baseurl <- "https://search.naver.com/search.naver?where=news&sm=tab_pge&query=%EC%88%98%EC%86%8C%EC%B0%A8&sort=0&photo=0&field=0&pd=0&ds=&de=&cluster_rank=74&mynews=0&office_type=0&office_section_code=0&news_office_checked=&nso=so:r,p:all,a:all&start="

url <- NULL
 for(x in 0:1){ #399까지
 url[x+1] <- paste0(baseurl, x*10+1)
 }

In [ ]:
url

뉴스 링크

In [ ]:
html <- read_html(url[1])

뉴스 링크 가공

In [ ]:
link <- html %>% html_nodes('a') %>% html_attr('href')

link1 <- unique(link)

link2 <- link1[grep("https://news.naver.com", link1)]

baselink <- link2[-grep("factcheck", link2)]

본문 제목

In [ ]:
total.title <- NULL
total.date <- NULL
total.article <- NULL
i <- 1

while(i <= length(baselink)) {
    url_new <- baselink[i]
    base <- read_html(url_new)
    #제목
    title <- base %>% html_nodes('#articleTitle') %>% html_text()
    total.title[i] <- title

    #날짜
    date <- base %>% html_nodes('.t11') %>% html_text()
    total.date[i] <- date
    
    #본문
    article <- base %>% html_nodes('#articleBodyContents') %>% html_text()
    article1 <- gsub("\n","", article)
    article2 <- gsub("\t","", article1)
    article3 <- gsub("// flash 오류를 우회하기 위한 함수 추가function _flash_removeCallback()","", article2)
    article4 <- gsub("[()]", "", article3)
    article5 <- gsub("[{}]", "", article4)
    total.article[i] <- article5
    
    i <- i + 1
}

In [ ]:
df <- data.frame("제목" = total.title,"날짜" = total.date,"본문" = total.article)

In [ ]:
df